@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --heading-font: "Marcellus", serif;
  --body-font: "Poppins", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1em;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 300;
}

p {
  font-family: var(--body-font);
  font-weight: 300;
}

.currency-input {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.highest {
  background-color: lightgreen !important;
}

.lowest {
  background-color: lightcoral;
}

.current {
  background-color: lightskyblue;
}

table {
  max-width: 100%;
}

@media screen and (max-width: 320px) {
  body {
    font-size: 1em;
  }
}
